<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ums-tsad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='classic.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
    $(function() {
    $('#dataset_selection').change(function() {
    var dataset_type = $(this).val();


            $.ajax({

            data: {dataset_type: dataset_type},

            type : 'POST',
            url : '/mdata/getDataSetEntityHtml',

            success: function(data){
             $('#dataset_entity_selection').html(data);
             }
            })
        });
    });

    </script>




</head>




<body>

 {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}


<div class="wrapper">


<div class="card">
      <div class="card-body">
        <fieldset>
            <legend>Flash The Page:</legend>
            <h3><a href="/">flash</a></h3>

        </fieldset>
      </div>

</div>
<div class="card">
    <div class="card-body">
        <div id="variable-display-container">
            <label for="variableDisplay">Datasets Location: </label>
            <input type="text" id="variableDisplay" name="variableDisplay" value="{{ data_dir }}" readonly>

        </div>
        <form action="/mmodel/update-config" method="post">
            <label for="path">Enter new path:</label>
            <input type="text" id="path" name="path" required>
            <input type="submit" value="Update Config">
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="add-model-form">
            <form id="add-model-form" action="/mmodel/add-model" method="post">
                <label for="newModelName">New Model Name:</label>
                <select id="newModelName" name="newModelName" required>
                    <!-- Options will be added here dynamically -->
                </select>
                <input type="submit" value="Add Model">
            </form>
        </div>
    </div>
</div>
<form id="train-form" action="/mmodel/train" method="POST">
    <div class="card">
        <div class="card-body">
            <div class="box1">

                <fieldset>
                    <legend>Choose DataSet:</legend>
                    <select class="form-control"  id="dataset_selection" name="dataset_selection">

                        <option selected="selected">--select a dataset--</option>

                        {% for dataset_type in dataset_types %}
                        <option value="{{ dataset_type }}"> {{ dataset_type }} </option>
                        {% endfor %}
                    </select>
                </fieldset>
            </div>

            <div class="box2">
                <fieldset>
                    <legend>Choose Data Entity:</legend>
                    <select class="form-control" id="dataset_entity_selection" name="dataset_entity_selection">
                        <option selected="selected">--select a dataset entity--</option>
                    </select>
                </fieldset>
            </div>

            <fieldset>
                <legend>Choose Algorithms:</legend>
                {% for algorithm in algorithm_list %}
                <div class="algorithm-item">
                    <input name="algorithm_option" value="{{ algorithm }}" type="checkbox" id="alg-{{ algorithm }}">
                    <label for="alg-{{ algorithm }}">{{ algorithm }}</label>
                    <button type="button" class="delete-btn" onclick="deleteAlgorithm('{{ algorithm }}')">Delete</button>
                    <!--            <form action="/mmodel/delete-algorithm" method="post" style="display: inline;">-->
                    <!--                <input type="hidden" name="algorithm_name" value="{{ algorithm }}">-->
                    <!--                <button type="submit" class="delete-btn">Delete</button>-->
                    <!--            </form>-->
                </div>

                {% endfor %}
            </fieldset>
            <input type="submit" value="train" >
        </div>
    </div>

</form>

</div>

{% if table_flag: %}

  <table id="data" class="table table-striped" >
    <thead>
      <tr>
        <th>DataSet Entity</th>
        <th>Algorithm</th>
        <th>DataSet Type</th>
        <th>Inject Abnormal Type</th>
        <th>Best Model</th>
        <th>Operate</th>
      </tr>
    </thead>
    <tbody>
      {% for data_info in data_infos %}
        <tr data-toggle="collapse" data-target="#collapseRow{{ loop.index }}" class="clickable">
            <td>{{ data_info.dataset_entity }}</td>
            <td>{{ data_info.algorithms }}</td>
            <td>{{ data_info.dataset_type }}</td>
            <td>{{ data_info.inject_abn_types }}</td>
            <td>{{ data_info.best_model }}</td>
            <td colspan="4">Details</td> <!-- Placeholder for the clickable area -->
        </tr>
        <tr id="collapseRow{{ loop.index }}" class="collapse">
            <td colspan="9"> <!-- Adjust colspan as necessary to match your table -->
                <!-- Your links here -->
                <div class="button-container">
                    <a href="/mmodel/check?dataset_type={{data_info.dataset_type}}&dataset_entity={{data_info.dataset_entity}}&algorithms={{data_info.algorithms}}" >Prediction Error Link</a><br>
                    <a href="/mevaluation/injectAbn?dataset_type={{data_info.dataset_type}}&dataset_entity={{data_info.dataset_entity}}&algorithms={{data_info.algorithms}}">Inject Abnormal Link</a><br>
                    <a href="/mevaluation/evaluateModel?dataset_type={{data_info.dataset_type}}&dataset_entity={{data_info.dataset_entity}}&algorithms={{data_info.algorithms}}" >Evaluate Model Link</a><br>
                    <a href="/mdata/deleteDataInfo?dataset_type={{data_info.dataset_type}}&dataset_entity={{data_info.dataset_entity}}" class="delete-btn">Delete</a>
                </div>
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endif %}
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-text"></p>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function showModal(message, url) {
        var modalText = document.getElementById('modal-text');
        // If you have a URL, add an anchor tag to the message
        if(url) {
            modalText.innerHTML = message + ' <a href="' + url + '">Click here</a>';
        } else {
            modalText.textContent = message;
        }
        modal.style.display = "block";
    }
</script>

 <script>
document.addEventListener('DOMContentLoaded', function() {
    fetch('/mmodel/get-model-names')
        .then(response => response.json())
        .then(data => {
            const selectElement = document.getElementById('newModelName');
            data.forEach(modelName => {
                const option = document.createElement('option');
                option.value = modelName;
                option.text = modelName.charAt(0).toUpperCase() + modelName.slice(1); // Capitalize first letter
                selectElement.appendChild(option);
            });
        })
        .catch(error => console.error('Error fetching model names:', error));
});
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var form = document.getElementById('add-model-form');

    var closeBtn = document.querySelector('.modal .close');

    // Function to reload the page
    function reloadPage() {
        window.location.reload();
    }
    closeBtn.onclick = function() {
        // Hide the modal
        modal.style.display = "none";
        // Reload the page
        reloadPage();
    };

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
            reloadPage();
        }
    };
    form.onsubmit = function(e) {
        e.preventDefault();  // Prevent the default form submission
        var modelName = document.getElementById('newModelName').value;

        fetch('/mmodel/add-model', {
            method: 'POST',
            body: JSON.stringify({ newModelName: modelName }),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token if needed
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Server responded with a status: ' + response.status);
            }
            return response.json();
        })
        .then(data => {
            showModal(data.message, 'https://pyod.readthedocs.io/en/latest/index.html'); // Show the message from the server

        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred: ' + error.message);
        });
    };
});
</script>
<script>
function deleteAlgorithm(algorithmName) {
    // Confirm deletion
    if (!confirm('Are you sure you want to delete this algorithm?')) {
        return; // Stop if user cancels
    }

    // Setup the AJAX request
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/mmodel/delete-algorithm", true);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

    // Handle the response from the server
    xhr.onload = function () {
        if (xhr.status >= 200 && xhr.status < 300) {
            // Handle success, e.g., remove the algorithm from the list
            console.log('Deletion successful:', xhr.responseText);
            location.reload(); // Reload the page to update the list
        } else {
            // Handle error
            console.error('Deletion failed:', xhr.statusText);
        }
    };

    // Send the request with the algorithm's name
    xhr.send("algorithm_name=" + encodeURIComponent(algorithmName));
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(".clickable").click(function() {
    var targetId = $(this).data("target");
    $(targetId).toggle(); // This toggles visibility of the collapsible row
  });
});
</script>
</body>
</html>